QDialog {
	background-color: #fbfbfc;
}

QLabel#title {
	font-size: 10pt;
}

QFrame#decoration {
    background-color: #f4f2f9;
}

QPushButton[modal_button = true] {
	font-size: 10.5pt;
    background-color: #fefdfe;
	color: #000000;
    border: 1px solid #e0dde8;
    border-radius: 5px;
    padding: 0px;
}

QPushButton[modal_button = true]:hover {
    background-color: #f9f9fa;
}