QHotbar {
	background-color: #faf9fc;
	border-top: 1px solid #e6e3ed;
	border-bottom: 1px solid #e6e3ed;
}

QLabel[category_title = true] {
	font-size: 10pt;
	color: #5f5f60;
}

QHotbarButton {
	background-color: transparent;
	border-radius: 5px;
	padding: 0px;
}

QHotbarButton:hover {
	background-color: #ececec;
}

QHotbarButton:checked {
	background-color: #ececec;
	border-bottom: 2px solid #c4c4c4;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}